@import './base.css';

nav {
  position: absolute;
  top: 0;
  background-color: rgb(54, 54, 54);
  width: 30%;
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  
  border-radius: 0 0 8px 8px;
}

.board-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.score-btn {
  height: 100%;
  width: 100%;
  font-size: 6rem;
  font-weight: 600;
  color: white;
  border: none;
}

.blue-btn {
  background-color: #2196F3;
}

.red-btn {
  background-color: #C62828;
}

.control-btn {
  padding: 2px 4px;
  width: 25%;
  background-color: transparent;
  color: white;
  border: 1px solid rgb(98, 98, 98);
}

.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px;
  background-color: #333333;
  color: white;
  border: none;
  border-radius: 100%;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}